{% extends "base.html" %}

{% block title %}Acerca - Lilibeth{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <h2>🌟 Sobre Nosotros</h2>
        <p>Lilibeth Rodríguez ofrece servicios profesionales de belleza en la Ciudad de Arenillas desde 2020. Especialistas en todo tipo de tratamientos de cabello y más.</p>
        <h4>Ubicación</h4>
        <p>Arenillas, El Oro, Ecuador</p>
        <p>Ciudadela Las Peñitas, calle 21 de Julio y Las Peñas</p>
        <p>¡Visítanos para una experiencia de belleza única!</p>
        <h4>Contacto</h4>
        <ul>
            <li>WhatsApp: 0990168223</li>
            <li>Facebook: Lilibeth Rodríguez</li>
            <li>Instagram: @lilibeth_salon</li>
            <li>TikTok: @lilibeth_salon</li>
            <li>Email: lilibeth@salon.com</li>
    </div>
    <div class="col-lg-4">
        <h5>Horarios</h5>
        <ul class="list-group">
            <li class="list-group-item">Lun-Vie: 9AM-8PM</li>
            <li class="list-group-item">Sáb: 9AM-6PM</li>
            <li class="list-group-item">Dom: Cerrado</li>
        </ul>
    </div>
</div>
{% endblock %}
